<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <title>Rocket</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div id="app">
  <div v-if="form" class="form">
    <form @submit="getResult">
    <section class="prime-card">
        <section class="card-top">
          <img class="img-rocket" src="./img/rocket.png" alt="" required>
          <h2 class="title">Crazy Rocket</h2>
        </section>

        <section class="item-middle">
            <label>How much fuel in the tank? </label>
            <input v-model="gas_quantity" type="number" placeholder="ex:69L" required>
        </section>

        <section class="item-middle">
          <label>Amount consumed every 15,376Km: </label>
          <input v-model="consumed" type="number" placeholder="ex:200L" required>
        </section>

        <section class="item-bottom">
          <button type="submit">Fire Rocket</button>
        </section>
    </section>
  </form>
  </div>
      <div v-if="lift" class="lift_rocket">
        <div class="moon">
          <div class="moon_animation">
            <img src="img/moon.png"/>
          </div>
        </div>
        <div class="rocket">
          <div class="rocket_animation completed" :class="[results[results.length - 1].gas_missing > 0 ? 'completed' : 'half_way']">
            <img src="img/rocket.png"/>
            <div class="message" v-if="show_message">
              <h4 v-if="completed">&#x2728;Você chegou na Lua&#x2728;<br/><br/>
              </h4>
              <h4 v-else="completed">
                Infelizmente não foi dessa vez &#x1F615; <br/><br/>
              </h4>
              <details>
                <summary>Gas History Details</summary>
                <div class="details">
                  <div v-html="total_gas"></div>
                </div>
            </details>
              <div class="btn_try_again">
                <button @click="tryAgain">Try Again</button>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="restarting" v-if="restarting">
      <h2>Preparando Foguete...</h2>
    </div>
    <div id="right_info">
      
    </div>
</div>
<script>
//Just put you php localhost example => http://localhost:8080/project_folder
const LOCALHOST = 'http://localhost/rocket_lift'

const { createApp } = Vue
createApp({
  data() {
    return {
      count: 0,
      form: true,
      gas_quantity: '',
      consumed: '',
      completed: false,
      lift: false,
      show_message: false,
      restarting:'',
      porcent: 0,
      consumed_gas: '',
      results: [],
      total_gas: ''
    }
  },
  methods: {
    showMessage(){
      setTimeout(()=> {
        this.show_message = !this.show_message;
      },2000)
    },
    getResult(e){
      e.preventDefault();
      let consumed_gas_count = null;
      let i = false;
      let b = 1;
      while(i == false){
        if(parseInt(consumed_gas_count) <= 0){
          i = true;
        }
        if((384.400 / 15.376) == this.results.length + 1){
          i = true;
        }
        if (consumed_gas_count != null){
          consumed_gas_count = consumed_gas_count - this.consumed
        }else{
          consumed_gas_count = this.gas_quantity - this.consumed
        }
        this.results.push({time:b++,gas_missing: consumed_gas_count});
        console.log(consumed_gas_count);
      }
      console.log(consumed_gas_count);
      this.lift = true;
      this.form = false;
      this.completed = this.results[this.results.length - 1].gas_missing > 0 ? true : false;
      this.showMessage();

      let rocket_data =  {
        gas_quantity: this.gas_quantity,
        consumed: this.consumed
      }
      const options = {
                method: 'POST',
                headers: { 'content-type': 'application/form-data' },
                data: this.convertToFormData(rocket_data),
                url: `${LOCALHOST}/arr.php`,
            };
      axios(options)
      .then(response => (this.total_gas = response.data))
    },
    tryAgain(){
      this.restarting = true;
      this.show_message = !this.showMessage;
      setTimeout(() => {
        location.reload();
      },3000)
    },
    convertToFormData(obj){
      let formData = new FormData();
            for(let key in obj) {
                formData.append(key, obj[key]);
            }
            return formData;
    }
  }
}).mount('#app')
</script>
</body>
</html>