@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
.lift_rocket{
    width: 100%;
    display: inline-block;
    text-align: center;
}

.lift_rocket .rocket .rocket_animation img{
    width: 60px;
}
.completed {
    animation: lift 2s ease-in-out;
}
.half_way{
    animation: lift 2s ease-in-out;
    margin-top: 150px;
}
.lift_rocket .moon img{
    width: 60px;
}
.message {
    transition: opacity 3s;
    font-family: Arial;
    font-size: 12px;
    animation: fade_in 2s;
}
.rocket .message p, h4, summary{
    color: white;
    font-size: 23px;
    font-weight: 700;
}
.details p {
    background: #111111;
    width: 100%;
}
.btn_try_again{
    margin-top: 32px;
}
.btn_try_again button{
    color: white;
    background-color: #ce1e0e79;
    padding: 10px 10px;
    font-weight: 600;
    border: none;
    cursor: pointer;
}
.restarting {
    text-align: center;
    animation: fade_in 2s;
}
.left {
    position: fixed;
    z-index: 3;
    bottom: 20px;
    right: 20px;
}

@keyframes fade_in {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

@keyframes lift {
    0%{
        transform: translateY(600px);
    }
}

@font-face {
    font-family: 'alien';
    src: url('font/alm_____.ttf') format('truetype');
    font-weight: normal;
}

*{
    margin: 0px;
    padding: 0px;
}

:root {
    --font-one: 'alien';
    --font-two: 'Roboto', sans-serif;
}

body {
    background-image: url('./img/img-03.jpg');
    background-position: center center;
    background-attachment: fixed;
}

form {
    margin: auto;
    margin-top: 100px;
    max-width: 800px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 18px;
    -webkit-box-shadow: 2px 2px 15px 10px rgba(255, 0, 0, 0.401); 
    box-shadow: 2px 2px 15px 10px rgba(255, 0, 0, 0.266);  
}

section.prime-card {
   text-align: center;
}

section.card-top {
    padding: 20px;
}

section.card-top > img {
    max-width: 150px;
}

section.card-top > h2 {
    font-family: var(--font-one);
    font-size: 2em;
    color: white;
    text-shadow: -2px 2px 3px #CE1F0E;
}

h2:hover {
    transform: scaleY(1.1) scaleX(1.1);
    transition: 1s;
}

section.item-middle {
    padding: 10px;
}

label {
    display: block;
    font: 500 1.5em var(--font-two);
    font-variant: small-caps;
    color: white;
    text-shadow: -2px 2px 3px rgba(0, 0, 0, 0.632);
    padding-bottom: 5px;
}

section.item-middle > input {
    width: 45%;
    height: 35px;
    font-size: 1.1em;
    padding-left: 10px;
}

input:focus {
    background-color: black;
    color: white;
    outline: solid 1.1px #CE1F0E;
    transition: 0.5s;
}

section.item-bottom {
    margin: 10px;
    padding-bottom: 20px;
}

section.item-bottom > button {
    width: 25%;
    height: 45px;
    font: bold 1.5em var(--font-two);
    text-shadow: -2px 2px 3px rgba(0, 0, 0, 0.632);
    cursor: pointer;
    background-color: #ce1e0e79;
    color: white;
    border-radius: 10px;
    padding: 5px;
}

.item-bottom > button:hover {
   background-image: linear-gradient(to left, transparent, #ce1e0e63, rgba(255, 0, 0, 0.67));
}

.item-bottom > button:active {
    opacity: 80%;
    color: rgba(169, 169, 169, 0.534);
}

@media only screen and (max-width: 560px){
    .item-bottom > button {
        width: 45% !important;
        height: unset !important;
        font-size: 5em;
    }
}